.gooddes{
    font-size: .35rem;
    margin-top: .9rem;
    padding-bottom: .9rem;
}

.gooddes img{
    width: 100%;
    /* height: 7.5rem; */
}
.gooddes .head{
    background-color: white;
    padding:.2rem 0 .5rem .3rem;
    height: 1rem;
    /* padding-bottom: .5rem; */
    font-size: .4rem;
    display: flex;
    justify-content: space-around;
}
.gooddes .head h3{
    font-weight: normal;
    color: #333333;
    line-height: 1rem;
    flex: 1;
}
.gooddes .head .selec{
    width: 1rem;
    text-align: center;
    border-left: 1px solid #999;
    padding-left: .15rem;
    font-size: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: .5rem;
    padding-top: .15rem;
    margin-right: .4rem;
}
.gooddes .head img{
    width: .4rem;
    height: .4rem;
}
.gooddes .price{
    background-color: white;
    padding-left: .3rem;
    color: red;
    font-size: .3rem;
}
.gooddes span{
    color: orange;
    margin-left: .6rem;
    border: 1px solid orange;
    font-size: .3rem;
    padding: .05rem .1rem;
}
.gooddes span:last-of-type{
    margin-left:.2rem
}
.gooddes .beforePrice{
    background-color: white;
    padding: .2rem;
    font-size: .3rem;
    text-decoration: line-through;
    color: gray;
   
    margin: 0 0 .5rem 0;
}


.gooddes footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 1rem;
    background-color: white;
    width: 100%;
}
.gooddes footer span{
    background-color: orange;
    color: white;
    border: none;
    height: 100%;
    float: right;
    line-height: 1rem;
    padding: 0 .2rem;
}

.gooddes .door{
    position: absolute;
    top: 0;
    left: 0;
    height: 160%;
    width: 100vw;
    background: rgba(0,0,0,0.5);
}
.gooddes .block {
    padding: .3rem 0 0 .2rem;
    position: fixed;
    width: 100%;
    height: 6rem;
    left: 0;
    bottom: 0;
    background-color: white;
}
.gooddes .block .top{
    display: flex;
}
.gooddes .block .top img{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: .4rem;
}
.gooddes .block .top span{
    border: none;
    color: #333333;
    font-size: .4rem;
}

.gooddes .block .prop{
    margin-top: .2rem;
}
.gooddes .block .prop h3{
    margin: .5rem 0;
}
.gooddes .block .prop .am-tag {
   margin-right: .2rem;
   padding: 0;
   width: 1.4rem;
   height: .6rem;
   font-size: .4rem;
}

.gooddes .block .prop .am-tag-text{
    margin: auto;
    line-height: .6rem;
    text-align: center;
    width: 1rem;
    font-size: .35rem;
}
.gooddes .block button{
    background: orange;
    border: none;
    color: white;
    height: 1rem;
    font-size: .4rem;
    display: block;
    margin: .5rem auto;
}